<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>category 1</title>
        <link rel="stylesheet" href="style.css" />
      
    </head>
     <header>
     	<img src="images/Sans titre.png" alt="logo" title="logo" /></a>
     </header>


    <body>
     <div id="nav">
      <nav>
       <ul>
      <div id="1"><li><a href=1.html>category 1</a></li></div>
      <div id="2"><li><a href="2.html">category 2</a></li></div>
        <div id="3"><li><a href="3.html">category 3</a></li></div>
       <div id="4"><li> <a href="index.html">home</a> </li></div>
       <div id="5"><li> <a href="sign-in.html">sign in</a> </li></div>
       <div id="6"><li> <a href="cgu.html">"CGU"</a> </li></div>
        </ul>
      </nav>
           
       
        
        <h2> my stuff to sell </h2>

       
        <section>
    <ul>
    <article>
      <img src="images/stuff100x100.png" alt="stuff1" title="stuff1"/></a>
      <li><a href="stuffcat1.html">stuff1 </a></li>
      <img src="images/stuff100x100.png" alt="stuff2" title="stuff2"/></a>
      <li><a href="stuffcat1.html">stuff2 </a></li>
      <img src="images/stuff100x100.png" alt="stuff3" title="stuff3"/></a>
      <li><a href="stuffcat1.html">stuff3 </a></li>
    </article>
        </section>
      </ul>
      

        <footer>
          <h5>© legeriergeek 2023</h5>