<title>t-shirt levis</title>
<h1>tu a un enormes boules donc achete ici</h1>
<input type="button" value="achete mon t-shirt bor**l">
		<nav>
       <ul>
      <li>	<a href=vetements.html>vetements</a>  </li>
      <li><a href=informatique.html>informatique</a></li>
        <li><a href="cgu.html">C.G.U</a></li>
        <li><a href="teub.html">acceuil</a></li>
        <li> <a href="connetion.html">connetion</a> </li>
        <li> <a href="musique.html">colletion de musique</a> </li>
        </ul>
      </nav>
<p>
    <br>click petit fessier tant convoiter! click pour agrandir !<br />
    <a href="images/tlevgrj.jpg"><img src="images/tlevptj.jpg" alt="click" title="Cliquez pour agrandir" /></a>
    <figcaption>un t-shirt levis  😀  </figcaption>
</p>




<footer>
          <h5>© legeriergeek 2021</h5>

<link rel="stylesheet" href="style.css" />